:root {
    /* Paleta: bright_yellow - Amarillo brillante y optimista */
    --primary-color: #F57F17;
    --secondary-color: #FBC02D;
    --accent-color: #0288D1;
    --background-color: #FFFDE7;
    --background-color-2: #FFFDE7;
    --text-color: #F57F17;
    --light-text: #FDD835;
    --urgent-color: #0288D1;
    --card-bg: #FFFFFF;
}
