:root {
    /* Paleta: milenio_rojo - Rojo Milenio profesional */
    --primary-color: #B10B1F;
    --secondary-color: #F1F1F1;
    --accent-color: #D1D1D1;
    --background-color: #FFFFFF;
    --background-color-2: #EDEDED;
    --text-color: #202124;
    --light-text: #999999;
    --urgent-color: #FDE636;
    --card-bg: #FFFFFF;
}
