:root {
    /* Paleta: mystic_indigo - Índigo místico y profundo */
    --primary-color: #311B92;
    --secondary-color: #512DA8;
    --accent-color: #FFA000;
    --background-color: #EDE7F6;
    --background-color-2: #EDE7F6;
    --text-color: #311B92;
    --light-text: #7E57C2;
    --urgent-color: #FFA000;
    --card-bg: #FFFFFF;
}
