@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    /* Fuentes: modern_professional - Montserrat + Roboto moderno */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --line-height: 1.6;
    --heading-weight: 800;
    --body-weight: 400;
    --menu-size: 12px;
    --menu-transform: uppercase;
}
